@{
    @*ViewData["Title"] = "Home Page";*@
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebGL</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/glMatrix-0.9.5.js"></script>
    <script type="text/javascript" src="js/Vertex_Shader_Code.js"></script>
    <script type="text/javascript" src="js/Fragment_Shader_Code.js"></script>
    <script type="text/javascript" src="js/initShaders.js"></script>
</head>
<body>
    <div class="box">
        <div class="formXYZ">
            <form id="IDformXYZ" method="post" action="/Home/Index"> 
                <label for="x">X-coordinate:</label>
                <input type="text" id="x" name="x" required /><br />
        
                <label for="y">Y-coordinate:</label>
                <input type="text" id="y" name="y" required /><br />
        
                <label for="z">Z-coordinate:</label>
                <input type="text" id="z" name="z" required /><br />
        
                <input type="submit" value="SEND" />
            </form>
        </div>
        <div class="webGLbox">
            <canvas id="canvasGL"></canvas>
        </div>
    </div>

    <script src="js/Main_Script.js"></script>

    <script>
       //logic of getitng x y z values
    </script>
</body>
</html> 